body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .expedu_icon{
        color:#555480;
    }
    .expedu_icon{
        background-color: #555480;
        color: #fff;
    }
    :root {
        --bs-primary: #b65ef2;
        --bs-primary-rgb: 11, 0, 166;
        --bs-secondary: #e56565;
        --bs-secondary-rgb: 238, 143 , 0;
    }
    .expedu_icon:hover {
        color: var(--bs-secondary);
    }
    a {
        color:var(--bs-primary);
    }

    .social-icons .social-icons:hover {
        background-color: var(--bs-secondary);
    }